<launch>

<rosparam command="load" file="$(find quatro)/config/params.yaml" />
<rosparam command="load" file="$(find quatro)/config/patchwork_params.yaml" />

<node name="$(anon offline_own_data)" pkg="quatro" type="run_example" output="screen">
<rosparam param="/algorithm">"quatro"</rosparam> 
</node>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find quatro)/rviz/registration.rviz"/>

<node name="rviz_output" pkg="rviz" type="rviz" args="-d $(find quatro)/rviz/reg_output.rviz"/>


</launch>
